:root {
    --color-accent: #30cecec4;
    --background-accent: rgb(31, 1, 1);
    --color-highlight: #d6dee7;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    /* background-color: #0f172a; */
    color: #bec7d3;
    background-image: url(public/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 6rem;
}

p {
    line-height: 1.5rem;
    font-weight: 350;
}

a {
    text-decoration: none;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
    background-color: var(--color-accent);
    color: #0f2127;
}

.underlay {
    position: fixed;
    background-color: #33151d;
    inset: 0;
    opacity: 0.15;
}

header,
main,
footer {
    position: relative;
    z-index: 10;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 350px;
}

header h1,
header h3,
.lightText {
    color: var(--color-highlight);
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: 600;
    font-size: 2.25rem;
}

header h3 {
    font-weight: 400;
}

nav {
    display: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-top: 2.5rem;
    width: fit-content;
}

.social-link-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-link {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: inherit;
    text-decoration: none;
    transition-duration: 200ms;
}

.social-link:hover {
    color: var(--color-highlight);
}

main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 1rem 0;
}

.sticky-header h2 {
    position: relative;
    z-index: 2;
    padding-left: 5px;
}

.sticky-header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #101a3131;
    backdrop-filter: blur(5px);
}

.about-contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-contents p {
    font-size: 1.1rem;
}

.anchor-text {
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 200ms;
}

.anchor-text:hover {
    color: var(--color-accent);
}

.experience-contents,
.projects-contents {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experience-card,
.project-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.experience-card {
    gap: 0.5rem;
}

.project-card {
    gap: 1rem;
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tenure {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.experience-card p {
    font-size: 0.9rem;
}

.card-header {
    font-weight: 400;
    font-size: 1rem;
}

.anchor-icon {
    padding-left: 0.5rem;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: var(--color-accent);
}

.tag {
    padding: 0.25rem 0.5rem;
    border-radius: 0.9rem;
    background-color: var(--background-accent);
}

.tag p {
    font-size: 0.8rem;
}

.project-image {
    max-width: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
    aspect-ratio: 16 / 9;
    border-radius: 0.25rem;
    order: 2;
}

.project-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-stars {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.arrow {
    position: relative;
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 200ms;
    margin-right: auto;
}

.arrow span {
    transition-duration: 200ms;
}

.arrow:hover span {
    padding-left: 0.4rem;
}

.arrow::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    background: transparent;
    transition-duration: 200ms;
}

.arrow:hover::after {
    background-color: var(--color-accent);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

footer p {
    font-size: 0.9rem;
    font-weight: 400;
}

.scroll-top {
    text-decoration: none;
    color: var(--color-accent);
    background-color: var(--background-accent);
    padding: 0 0.75rem;
    aspect-ratio: 1 /1;
    display: grid;
    place-items: center;
    border-radius: 100%;
    overflow: hidden;
    transition-duration: 200ms;
}

.scroll-top:hover {
    opacity: 0.6;
}

/* BREAK 1 */
@media (min-width: 640px) {
    header {
        max-width: unset;
    }

    header h1 {
        font-size: 3rem;
    }

    header h3 {
        font-size: 1.3rem;
    }

    header p {
        max-width: 350px;
    }

    .project-card,
    .experience-card {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .card-column {
        grid-column: span 3 / span 3;
    }

    .project-image {
        order: 0;
    }

    .social-link-container {
        gap: 1.5rem;
        padding-top: 1rem
    }

    .social-link-container i {
        font-size: 2rem;
    }
}

/* BREAK 2 */
@media (min-width: 1024px) {
    body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        padding: 5rem;
        padding-top: 0rem;
    }

    header {
        position: sticky;
        top: 0;
        margin-left: auto;
        height: 100vh;
        padding-bottom: 6rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    .social-link-container {
        gap: 1.5rem;
    }

    .social-link-container i {
        font-size: 2rem;
    }

    main {
        margin-right: auto;
    }

    header,
    main {
        max-width: 600px;
        width: 100%;
        padding-top: 6rem;
    }

    .sticky-header {
        display: none;
    }

    footer {
        grid-column: span 2 / span 2;
        flex-direction: row;
        max-width: 1000px;
        margin: 0 auto;
        width: 100%;
    }
}